
<%= simple_form_for(@club) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :from %>
    <%= f.input :until %>
    <%= f.input :position %>
    <%= f.input :matches %>
    <%= f.input :win %>
    <%= f.input :draw %>
    <%= f.input :lose %>
    <%= f.association :managemantcv %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
