<div class="club">
  <p style="font-size: x-large;" class="vloggeremail">
    <%= club.user.name %>
  </p>
  <p class="content-club">
    <%= club.body %>
  </p>
  <p><%= time_ago_in_words(club.created_at) %></p>
  <p>
<%= link_to 'Delete', [club.fourm, club],
           :method => :delete,
           data: { confirm: 'Are you sure?' }
            %>



</div>
