
<%= simple_form_for(@managemantcv) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :gender %>
    <%= f.input :photo %>
    <%= f.input :born %>
    <%= f.input :current_club %>
    <%= f.input :competition %>
    <%= f.input :tier %>
    <%= f.input :ending_contract %>
    <%= f.input :agent %>
    <%= f.input :ch_fb %>
    <%= f.input :ch_yt %>
    <%= f.input :ch_tw %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
