<p id="notice"><%= notice %></p>

<h1>Managemantcvs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Photo</th>
      <th>Born</th>
      <th>Current club</th>
      <th>Competition</th>
      <th>Tier</th>
      <th>Ending contract</th>
      <th>Agent</th>
      <th>Ch fb</th>
      <th>Ch yt</th>
      <th>Ch tw</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @managemantcvs.each do |managemantcv| %>
      <tr>
        <td><%= managemantcv.name %></td>
        <td><%= managemantcv.gender %></td>
        <td><%= managemantcv.photo %></td>
        <td><%= managemantcv.born %></td>
        <td><%= managemantcv.current_club %></td>
        <td><%= managemantcv.competition %></td>
        <td><%= managemantcv.tier %></td>
        <td><%= managemantcv.ending_contract %></td>
        <td><%= managemantcv.agent %></td>
        <td><%= managemantcv.ch_fb %></td>
        <td><%= managemantcv.ch_yt %></td>
        <td><%= managemantcv.ch_tw %></td>
        <td><%= link_to 'Show', managemantcv %></td>
        <td><%= link_to 'Edit', edit_managemantcv_path(managemantcv) %></td>
        <td><%= link_to 'Destroy', managemantcv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Managemantcv', new_managemantcv_path %>
