<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @managemantcv.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @managemantcv.gender %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @managemantcv.photo %>
</p>

<p>
  <strong>Born:</strong>
  <%= @managemantcv.born %>
</p>

<p>
  <strong>Current club:</strong>
  <%= @managemantcv.current_club %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @managemantcv.competition %>
</p>

<p>
  <strong>Tier:</strong>
  <%= @managemantcv.tier %>
</p>

<p>
  <strong>Ending contract:</strong>
  <%= @managemantcv.ending_contract %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @managemantcv.agent %>
</p>

<p>
  <strong>Ch fb:</strong>
  <%= @managemantcv.ch_fb %>
</p>

<p>
  <strong>Ch yt:</strong>
  <%= @managemantcv.ch_yt %>
</p>

<p>
  <strong>Ch tw:</strong>
  <%= @managemantcv.ch_tw %>
</p>

<%= link_to 'Edit', edit_managemantcv_path(@managemantcv) %> |
<%= link_to 'Back', managemantcvs_path %>
